[user]
	email = timmesserschmidt@gmail.com
	name = Tim Messerschmidt
[push]
	default = simple
[color]
	ui = auto
[credential]
	helper = osxkeychain
[alias]
	st = status
	ci = commit
	br = branch
	df = diff
	lg = log -p
	add = add --all
	lp = rev-parse origin/master
